/* You can add global styles to this file, and also import other style files */
@import "~ng-zorro-antd/ng-zorro-antd.min.css";
body{
  height:90vh;
  width:90vw;

}
.ant-select-multiple .ant-select-selector{
  width:600px;
}
.layout{
  max-height:90vh;
  max-width:90vw;
  background: #f0f2f5;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  }
  .ant-layout-content{
    display: flex;
    padding: 10%;
    align-items: center;
    justify-content: center;
  }
  .meteors-view-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .meteors-container{
    padding:20px;

  }
  .world-map{
    height:50vh;
    width:70vw;
    padding:5px 0;
  }
  .card-container{
    max-height: 30vh;
    overflow-y: scroll;
    max-width: 80vw;
    overflow-x: hidden;
    margin:10px 0;
  }


